<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
              <th class="align-middle" scope="col">#</th>
              <th class="align-middle" scope="col">Km</th>
              <th class="align-middle" scope="col">Start City</th>
              <th class="align-middle" scope="col">End City</th>
              <th class="align-middle" scope="col">Vehicle</th>
              <th class="align-middle" scope="col">Price</th>
            </tr>
            </thead>
            <tbody *ngFor="let veh of vehicles">
            <tr *ngFor=" let distance of distances" >
              <td>{{ (distances.indexOf(distance)+1)}}</td>
              <td>{{distance.km }}</td>
              <td > {{distance.startLocation.name}}</td>
              <td>{{distance.endLocation.name}}</td>
              <td>{{veh}}</td>
              <td>
                <form (ngSubmit)="onSubmit(distance,veh)">

                    <input type="number" [(ngModel)]="price.value"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control"
                           id="value"
                    >
                  <button type="submit" class="btn btn-outline-primary mx-1"> Update Price </button>

                </form>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
